<a href="https://colab.research.google.com/github/Torreblanca87/Alura-LATAM-Primeros-Pasos/blob/main/Ejercicios%20Print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Imprime la frase "Escuela de Datos de Alura"

In [1]:
print ("Escuela de Datos de Alura")

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

Nombre: [tu nombre]

Apellido: [tu apellido]

In [2]:
print ("Nombre: Joel")
print ("Apellido: Torreblanca")

Nombre: Joel
Apellido: Torreblanca

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

Á

L

V

A

R

O

In [3]:
print ("A")
print ("L")
print ("V")
print ("A")
print ("R")
print ("O")

A
L
V
A
R
O

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

28 febrero 2003

In [4]:
print ("28", "febrero", "2003")

28 febrero 2003

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

Año actual: [año]

In [5]:
print("Año Actual:",2025)

Año Actual: 2025